header{
    background: url("../../Assets/header.jpg");
    background-size: cover;
    width: 100%;
    text-align: left;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;

}


header h2{
    padding-top: 60px;
    padding-bottom: 30px;
    
   
    color: #7c0f28; 
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    width: 75%;

}
header p{
    color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
    
    }
    header button{
        width: 140px;
        height:40px;
        background-color: #7c0f28;
        border: 1px solid #7c0f28;
        text-align: center;
        color: aliceblue;
        margin: 20px 10px 20px 0px;
        text-transform: uppercase;
   font-weight: bold;


    }
